Django==1.4.1
PIL==1.1.7
altgraph==0.9
django-browserid==0.6
django-stdimage==0.2.2
django-taggit==0.9.3
django-taggit-autocomplete-modified==0.1.0b4
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==0.1
git-remote-helpers==0.1.0
lxml==2.3.4
macholib==1.4.3
modulegraph==0.9.1
numpy==1.6.2
pep8==0.6.0
requests==0.14.1
sorl-thumbnail==11.12
vim-bridge==0.5
virtualenv==1.7.1.2
virtualenvwrapper==3.4
wsgiref==0.1.2
